version: '3.7'

services:
  postgres:
    image: postgres:9.5
    restart: always
    environment:
      - POSTGRES_USER=mrmorales
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=dojodb
    ports:
      - "5432:5432"
    volumes:
      - "./docker/sql/script.sql:/docker-entrypoint-initdb.d/script.sql"
    networks:
      - postgres-compose-network
    expose:
      - "5432"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "3000:80"
    depends_on:
      - postgres
    networks:
      - postgres-compose-network

networks:
  postgres-compose-network:
    driver: bridge